.modal-backdrop {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 30px;
    min-width: 300px;
    padding: 64px;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        margin: 64px;
        padding: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--text-secondary);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    transition: var(--transition);
    border-radius: 50%;

    &:hover {
        background-color: var(--text-secondary);
    }
}