.wrapper {
    padding: 78px 128px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 125px;
    position: relative;
}

.gradient {
    position: absolute;
    width: 469px;
    height: 469px;
    bottom: -200px;
    right: -100px;
    filter: blur(300px);
    background: rgb(52, 112, 255);
    box-shadow: 200px 200px 0px 100px rgb(52, 112, 255);
}

.container {
    max-width: 595px;
    z-index: 1;
}

.title {
    font-size: 80px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;

    span {
        font-style: italic;
        color: var(--primary);
    }
}

.text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    margin-bottom: 40px;
}

.button {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 18px 50px;
    border-radius: 30px;
}

.thumb {
    position: relative;
    z-index: 1;
}

.question-container {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    transform: rotate(-15.00deg);
    background-color: rgb(84, 190, 150);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -35px;
    top: 200px;
}

.people-svg {
    position: absolute;
    right: -35px;
    top: 40px
}

.block {
    padding: 32px;
    border-radius: 20px;
    background-color: var(--primary);
    display: flex;
    column-gap: 16px;
    position: absolute;
    left: -100px;
    bottom: 75px;

    p {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        color: rgba(251, 251, 251, 0.5);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.21;
    }

    span {
        color: var(--text-btn);
        font-size: 24px;
        font-weight: 700;
        line-height: 1.21;
    }
}

.check-container {
    width: 54px;
    height: 54px;
    border-radius: 10px;
    background-color: var(--text-btn);
    display: flex;
    align-items: center;
    justify-content: center;
}