.container {
    padding: 64px 128px 100px;
}

.filter {
    margin-bottom: 32px;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.card {
    display: flex;
    column-gap: 24px;
    padding: 24px;
    border-radius: 24px;
    background: rgb(251, 251, 251);
}

.button {
    margin: 78px auto 0;
    display: block;
    padding: 14px 48px;
    border-radius: 30px;
}